<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- ╔══════════════════════════════════════════════════════╗
       ║  .NET 8  +  MySql.Data  +  XAMPP phpMyAdmin         ║
       ║  Промени uid/pwd ако имаш парола                    ║
       ╚══════════════════════════════════════════════════════╝ -->
  <connectionStrings>
    <add name="FootballDB"
         connectionString="server=localhost;port=3307;database=football_league;uid=root;pwd=;charset=utf8mb4;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

</configuration>
